/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  color: white;
  background:black url("https://cdn.glitch.com/54e41532-3b6a-473f-897d-5444c27c0e5a%2FCapture.PNG?1528599730697") no-repeat center fixed;
  background-size: cover;
  margin: 2em;
}

tittle {
  color: white;
  background:black url("https://cdn.glitch.com/54e41532-3b6a-473f-897d-5444c27c0e5a%2FBanni%C3%A8re%20darkyb%20site.png?1528607136376") no-repeat center fixed;
  font-family: impact;
  font-size: 100px;
}

h1 {
  font-family: arial;
  color: white;
  border: 3px white solid;
  border-radius: 6px;
  
}

h2 {
  font-family: arial;
  color: white;
}

h3 {
  font-family: arial;
  color: white;
  font-size:20px;
}

table {
  font-family: arial;
  color: white;
  font-size: 20px;
  border-collapse: collapse;
  background-image: url("https://cdn.glitch.com/54e41532-3b6a-473f-897d-5444c27c0e5a%2FArri%C3%A8re%20plan%20tableau.png?1528609205213");
}

td, th {
    border: 1px solid white;
    border-radius: 6px;
}

  a {color: #ffffff}             /* lien non-visité */
  a:visited {color: #ffffff}     /* lien visité */
  a:hover {color: #3399ff}       /* lien au survol */
  a:active {color: #0000FF}      /* lien sélectionné */
  


